@import "./mixins";

@import "../components/OrdersList/style.scss";
@import "../components/FileUploader/style.scss";
@import "../components/Paging/style.scss";
@import "../components/Spinner/style.scss";
@import "../components/Report/style.scss";

body {
  background-color: rgb(250, 249, 248);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  position: relative;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}
