.FileUploader {
  @include block();

  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;

    &_input {
      cursor: pointer;
    }
  }

  &__btn {
    @include button-blue();
    margin-top: 1rem;
  }
}
